BASE_URL=http://api-sit.piaozone.com/xm-demo
REQUEST_TIMEOUT=30

# SSO 签名登录参数
SSO_APP_ID=sso
SSO_SECRET=
SSO_DOMAIN=kingdee-fpy
SSO_MOBILE=
SSO_USERNAME=
SSO_WORK_NUMBER=
SSO_ORG_NUM=

# 多租户
X_COMPANY_ID=
